<div class="remove-container container-block">
    <h2 class="container-block-title">
        基本信息
    </h2>
    <ul class="list-unstyled interests-list">
        <!--<li>How to use?</li>-->
        <li>男</li>
        <li>统招本科</li>
        <li>1993年</li>
        <li>6年工作经验</li>
    </ul>
    <br>
    <h2 class="container-block-title">
        求职意向
    </h2>
    <ul class="list-unstyled interests-list">
        <!--<li>How to use?</li>-->
        <li>地点：北京</li>
        <li>岗位：Android 开发工程师</li>
        <li>目前状态：在职</li>
        <li>期望薪资：面议</li>
        <li>到岗时间：一两周左右</li>
    </ul>




<!--   注释掉在线简历-->

<!--       <br>-->
<!--    <p class="container-block-title">-->
<!--        可随时到岗。-->
<!--    </p>-->
<!--    <br>-->




    <br>
    <h3 class="container-block-title">
        主要项目
    </h3>

<!--    如果分页把二维码分开了，去这个css  调整 margintop   -->
    <h4 class="container-block-title3">
        Atoshi
    </h4>
    <img class="online-cv" src="{{ site.baseurl }}/assets/images/atoshi_1.png" alt="https://download.juhaowu.cn/%E5%8E%9F%E5%AD%90%E9%93%BE.apk"/>

    <h4 class="container-block-title4">
        e城e家
    </h4>
    <img class="online-cv" src="{{ site.baseurl }}/assets/images/ecej_1.png" alt="https://www.qimai.cn/andapp/downTotal/appid/23526"/>

    <h4 class="container-block-title4">
        乐唰
    </h4>
    <img class="online-cv" src="{{ site.baseurl }}/assets/images/leshua_le.png" alt="https://img.leshuapro.com/apk/leShuaNew.apk"/>
    
    
<!--<h3 class="container-block-title">-->
<!--    在线简历-->
<!--</h3>-->
<!--<img class="online-cv" src="{{ site.baseurl }}/assets/images/online-cv.png" alt="在线简历"/>-->

</div><!--//About-->